@import "@/styles/variables";

.ui-button {
  min-height: 60px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  border: 4px solid #FF0000;
  background: #FF0000;
  border-radius: 2px;
  @media (min-width: 1024px) {
    padding-left: 65px;
    padding-right: 55px;

    font-size: 20px;
    line-height: 1.75;
  }
  @media (max-width: 1023.98px) {
    padding-left: 33px;
    padding-right: 33px;

    font-size: 20px;
    line-height: 1.3;
  }

  &:hover {
    background: transparent;
    transition: all ease-in-out .5s;
  }

  &.spacing {
    @media (min-width: 1024px) {
      font-weight: 700;
      letter-spacing: 0.5em;
    }
  }

  &.outline {
    background: transparent;

    &:hover {
      background: #FF0000;
    }
  }
}
