@import "src/styles/variables";
@import "src/styles/mixins/convert";

.ui-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: px2rem(20px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  border: 4px solid $orange;
  background: $orange;
  border-radius: 2px;
  @media (min-width: add-unit($base-container-width, px)) {
    min-height: 60px;
    padding-left: 65px;
    padding-right: 55px;
    line-height: 1.75;
  }
  @media (max-width: add-unit($base-container-width - .2, px)) {
    min-height: set-relative-height(60px);
    padding-left: set-relative-width(65px);
    padding-right: set-relative-width(55px);
    line-height: 1.75;
  }
  @media (max-width: 1023.98px) {
    padding-left: set-relative-width(33px);
    padding-right: set-relative-width(33px);
    line-height: 1.3;
  }

  &:hover {
    cursor: pointer;
    background: transparent;
    transition: all ease-in-out .5s;
  }

  &.wide {
    width: 100%;
  }

  &.spacing {
    @media (min-width: 1024px) {
      font-weight: 700;
      letter-spacing: 0.5em;
    }
  }

  &.outline {
    background: transparent;

    &:hover {
      background: $orange;
    }
  }
}
