@import "src/styles/variables";
@import "src/styles/mixins/convert";

.ui-input {
  width: 100%;

  line-height: calc(32 / 18);
  color: $white;

  background: transparent;
  border: 1px solid $white;
  border-radius: 6px;
  @media (min-width: 1024px) {
    min-height: 60px;
    padding: 0 24px;
    font-size: px2rem(18px);
  }
  @media (max-width: 1023.98px) {
    min-height: calc(43 * 100vh / 812);
    padding: 0 calc(24 * 100vh / 812);
    font-size: calc(18 * 100vh / 812);
  }
}
