@import "sizes";

$white: #FFFFFF;
$red: #FF0000;
$light-text: #F2F2F2;

$main-bgr: linear-gradient(261.97deg, rgba(32, 33, 33, 0.49) 29.83%, rgba(32, 33, 33, 0.7) 59.68%);

$font-main: Montserrat, sans-serif;
$font-secondary: Georgia, sans-serif;
