@import "src/styles/mixins/convert";

$base-width: 1920;
$base-height: 1080;

/*header*/
$base-header-padding-top: 50;
$base-header-padding-bottom: 12;
$base-header-content-height: 110;
/*endregion header*/

/*content*/
$base-content-width: 1784;
$base-content-padding-top: 43; // @todo see no use
$base-content-padding-bottom: 21; // @todo see no use
$base-content-padding-left: 20;
$base-content-padding-right: 64;
$base-content-padding-right-xs: 20;

//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 1024px, xl: $base-container-width))
$base-container-width: $base-content-padding-left + $base-content-padding-right + $base-content-width;
/*endregion content*/

/*footer*/
$base-footer-padding-top: 12;
$base-footer-padding-bottom: 75;
$base-footer-content-height: 18;
/*endregion footer*/

@media (max-width: 575.98px) {
  $base-width: 375;
  $base-height: 812;

  $base-header-padding-top: 63;
  $base-header-content-height: 50;

  $base-footer-padding-top: 12;
  $base-footer-padding-bottom: 38;
  $base-footer-content-height: 18;
}

/*relative sizes*/
$relative-header-padding-top: ($base-header-padding-top / $base-height) * 100;
$relative-header-content-height: ($base-header-content-height / $base-height) * 100;
$relative-footer-padding-bottom: ($base-footer-padding-bottom / $base-height) * 100;
$relative-footer-content-height: ($base-footer-content-height / $base-height) * 100;

$section-padding-top: calc(add-unit($relative-header-padding-top, vh) + add-unit($relative-header-content-height, vh));
$section-padding-bottom: calc(add-unit($base-footer-padding-top, px) + add-unit($base-footer-content-height, px) + add-unit($relative-footer-padding-bottom, vh));
/*endregion relative sizes*/
